
.header {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, sans-serif;
    font-size: 75px;
    background-color: blue;
    font-weight: bold;
    height: 100px;
}

.searchContainer {
    margin: 0;
    width: 25vw;
    display: inline-block;
}

#search-title {
    margin: 0;
    padding: 2px;
    text-align: center;
    font-family: 'Courier New', Courier, sans-serif;
    font-weight:bolder;
    font-size: 20px;
}

#search-button {
    margin: 0;
    padding: 2px;
    width: 25vw;
}

.resultsContainer {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 73vw;
    border: black solid;
    height: 200px;
    position: absolute;
}

#search-history-list {
    margin: 5px;
    background-color: darkslategrey;
    border-color: transparent;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
}

.forecastContainer {
    display: inline-block;
    margin: 0;
    padding: 10px;
    width: 70vw;
    height: 150px;
    top: 300px;
    font-size: 20px;
    color: black;
    position: absolute;
}

.icon {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 display: inline;
 position: relative;
}

p {
    font-size:large;
}

#forecast {
    margin: 0;
    width: 150px;
    height: 150px;
    background-color: blue;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10%;
}